<!-- is-invalid -->

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="p-3 mb-5 mx-5 bg-body rounded">
        <form class="row g-3" [formGroup]="addForm">
          <!-- <div class="col-md-4">
  <label for="validationCustom01" class="form-label">First name</label>
  <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
  <div class="valid-feedback">
    Looks good!
  </div>
</div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" required>

  </div>
  is-invalid -->

          <div class="col-md-6">
            <label for="inputEmail413" class="form-label is-invalid"
              >First name</label
            >

            <input
              formControlName="First_name"
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
              id="inputEmail413"
            />
            <ng-container *ngIf="addForm.controls['First_name'] as First_name">
              <ng-container *ngIf="First_name.dirty || First_name.touched">
                <ng-container *ngIf="First_name.errors as errors">
                  <div *ngIf="errors['required']" class="invalid-feedback">
                    Please Enter your frist name!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="inputEmail412" class="form-label">Last name</label>

            <input
              formControlName="Last_name"
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
              id="inputEmail412"
            />
            <ng-container *ngIf="addForm.controls['Last_name'] as Last_name">
              <ng-container *ngIf="Last_name.dirty || Last_name.touched">
                <ng-container *ngIf="Last_name.errors as errorsss">
                  <div *ngIf="errorsss['required']" class="invalid-feedback">
                    Please Enter your Last_name!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input
              formControlName="Email"
              type="email"
              class="form-control"
              id="inputEmail4"
            />
            <ng-container *ngIf="addForm.controls['Email'] as Email">
              <ng-container *ngIf="Email.dirty || Email.touched">
                <ng-container *ngIf="Email.errors as errorss">
                  <div *ngIf="errorss['required']" class="invalid-feedback">
                    Please Enter your Email!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input
              formControlName="Password"
              type="password"
              class="form-control"
              id="inputPassword4"
            />
            <ng-container *ngIf="addForm.controls['Password'] as Password">
              <ng-container *ngIf="Password.dirty || Password.touched">
                <ng-container *ngIf="Password.errors as errorssss">
                  <div *ngIf="errorssss['required']" class="invalid-feedback">
                    Please Enter your Password!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input
              formControlName="Address"
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="1234 Main street YK UK NEW YORK"
            />
            <ng-container *ngIf="addForm.controls['Address'] as Address">
              <ng-container *ngIf="Address.dirty || Address.touched">
                <ng-container *ngIf="Address.errors as errorsssss">
                  <div *ngIf="errorsssss['required']" class="invalid-feedback">
                    Please Enter your Address!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input
              formControlName="Address_2"
              type="text"
              class="form-control"
              id="inputAddress2"
              placeholder="Apartment, studio, or floor"
            />
            <ng-container *ngIf="addForm.controls['Address_2'] as Address_2">
              <ng-container *ngIf="Address_2.dirty || Address_2.touched">
                <ng-container *ngIf="Address_2.errors as errorssssss">
                  <div *ngIf="errorssssss['required']" class="invalid-feedback">
                    Please Enter your Address 2!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input
              formControlName="City"
              type="text"
              class="form-control"
              id="inputCity"
            />
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select formControlName="State" id="inputState" class="form-select">
              <option selected value="0"></option>
              <option value="1">tanger</option>
              <option value="2">titwan</option>
              <option value="3">husima</option>
            </select>

            <ng-container *ngIf="addForm.controls['State'] as State">
              <ng-container *ngIf="State.dirty || State.touched">
                <ng-container *ngIf="State.errors as errorsssssss">
                  <div
                    *ngIf="errorsssssss['required']"
                    class="invalid-feedback"
                  >
                    Please Enter your State!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input
              formControlName="Zip"
              type="text"
              class="form-control"
              id="inputZip"
            />
            <ng-container *ngIf="addForm.controls['Zip'] as Zip">
              <ng-container *ngIf="Zip.dirty || Zip.touched">
                <ng-container *ngIf="Zip.errors as errorssssssss">
                  <div
                    *ngIf="errorssssssss['required']"
                    class="invalid-feedback"
                  >
                    Please Enter your Zip!
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="col-12">
            <div class="form-check">
              <input
                formControlName="Check_me_out"
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
              />
              <ng-container
                *ngIf="addForm.controls['Check_me_out'] as Check_me_out"
              >
                <ng-container
                  *ngIf="Check_me_out.dirty || Check_me_out.touched"
                >
                  <ng-container *ngIf="Check_me_out.errors as errorsssssssss">
                    <div
                      *ngIf="errorsssssssss['required']"
                      class="invalid-feedback"
                    >
                      Please Enter your Check me out!
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>

          <div class="col-12">
            <button
              [disabled]="
                !(addForm.value && (addForm.dirty || addForm.touched))
              "
              [ngClass]="
                addForm.value && (addForm.dirty || addForm.touched)
                  ? 'btn-primary'
                  : 'btn-danger'
              "
              type="submit"
              class="btn"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>

    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->

    <div class="col">
      <div
        class="accordion shadow p-3 mb-5 bg-body rounded ml-5"
        id="accordionExample"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              (click)="status1 = !status1"
              [ngClass]="status1 ? '' : 'collapsed'"
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              First name
            </button>
          </h2>
          <div
            id="collapseOne"
            [ngClass]="status1 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">dfdhhfdg</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status2 = !status2"
              [ngClass]="status2 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Last name
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status2 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">fgsdfgdsfg</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status3 = !status3"
              [ngClass]="status3 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Email
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status3 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">dfsgsdfgsdf</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status4 = !status4"
              [ngClass]="status4 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Password
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status4 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">dfgsdf</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status5 = !status5"
              [ngClass]="status5 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Address
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status5 ? '' : 'show'"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">dsgsdfg</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status6 = !status6"
              [ngClass]="status6 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Address 2
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status6 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">sdfgsd</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status7 = !status7"
              [ngClass]="status7 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              City
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status7 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">sdfgsdfg</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status8 = !status8"
              [ngClass]="status8 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              State
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status8 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">dfsgsdfg</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              (click)="status9 = !status9"
              [ngClass]="status9 ? '' : 'collapsed'"
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Zip
            </button>
          </h2>
          <div
            id="collapseTwo"
            [ngClass]="status9 ? 'show' : ''"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="bg-dark accordion-body">dsfgsdf</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-danger" role="alert">the form is invalid</div>

      <div class="alert alert-success" role="alert">the form is all valid</div>
      <div class="alert alert-warning" role="alert">look at the input(???)</div>

      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 300px"
        >

        {{ addForm.value | json }}
        </textarea>
      </div>
    </div>
  </div>
</div>
