<!-- is-invalid -->






<div class="container  bt-5  mt-6 ">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>

      <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
      </div>
      <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
      </div>
    </div>

        <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->

    <div class="col-6 shadow p-3 mb-5 mx-5 bg-body rounded">

      <form class="row g-3" [formGroup]="porfileForm" (ngSubmit)="onSubmit()">



        <div class="col-md-6">
          <span *ngIf="porfileForm.errors?.['identityRevealed'] && (porfileForm.touched || porfileForm.dirty)"
            class="alert mb-5">blabla</span>
          <label for="inputEmail413" class="form-label  is-invalid ">First name</label>
          <input formControlName="First_name" type="text" class="form-control" placeholder="First name"
            aria-label="First name" id="inputEmail413">
        </div>
        <div formGroupName="person" class="col-md-6">
          <label for="inputEmail412" class="form-label">Last name</label>
          <input formControlName="Last_name" type="text" class="form-control" placeholder="Last name"
            aria-label="Last name" id="inputEmail412">
        </div>





        <div formGroupName="user" class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input formControlName="Email" type="email" class="form-control" id="inputEmail4">
        </div>
        <div formGroupName="user" class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input formControlName="Password" type="password" class="form-control" id="inputPassword4">
        </div>




        <div formGroupName="address" class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input formControlName="Address" type="text" class="form-control" id="inputAddress"
            placeholder="1234 Main street YK UK NEW YORK">
        </div>
        <div formGroupName="address" class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input formControlName="Address_2" type="text" class="form-control" id="inputAddress2"
            placeholder="Apartment, studio, or floor">
        </div>
        <div formGroupName="address" class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input formControlName="City" type="text" class="form-control" id="inputCity">
        </div>
        <div formGroupName="address" class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select formControlName="State" id="inputState" class="form-select">
            <option selected value="0"></option>
            <option value="1">tanger</option>
            <option value="2">titwan</option>
            <option value="3">husima</option>
          </select>
        </div>
        <div formGroupName="address" class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input formControlName="Zip" type="text" class="form-control" id="inputZip">
        </div>



        <div class="col-12">
          <div class="form-check">
            <input formControlName="Check_me_out" class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>

        <div class="col-12">
          <button [disabled]="!porfileForm.value" type="submit" class="btn btn-primary">Sign in</button>
        </div>

      </form>
    </div>





    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->
    <!---||||||||||||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\||||||||||||||||||\\-->

    <div class="col ">
      <div class="accordion shadow p-3 mb-5 bg-body rounded ml-5" id="accordionExample" >




















        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
             (click)="status1=!status1"
             [ngClass]="status1 ? '' :'collapsed'"
             type="button"
             class="accordion-button  "
             data-bs-toggle="collapse"
             data-bs-target="#collapseOne"
             aria-expanded="true"
             aria-controls="collapseOne"
               >
                First name
            </button>
          </h2>
          <div id="collapseOne"  [ngClass]="status1 ? 'show' :''" class="accordion-collapse  collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur deleniti debitis corrupti distinctio quia qui laboriosam cumque maiores vero quae animi, laudantium suscipit possimus consectetur nemo dicta neque quibusdam in soluta dignissimos esse aspernatur ut. Quibusdam inventore minus, impedit id repellat accusamus necessitatibus ex odio molestias dignissimos. Aut, magni.
            </div>
          </div>
        </div>


















        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status2=!status2" [ngClass]="status2 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Last name
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status2 ? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
        fgsdfgdsfg
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status3=!status3" [ngClass]="status3 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Email
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status3 ? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
dfsgsdfgsdf
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status4=!status4" [ngClass]="status4 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Password
            </button>
          </h2>
          <div id="collapseTwo"  [ngClass]="status4 ? 'show' :''"class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
dfgsdf
            </div>
          </div>
        </div>





        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status5=!status5" [ngClass]="status5 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Address
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status5 ? '' :'show'" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
dsgsdfg
            </div>
          </div>
        </div>





        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status6=!status6" [ngClass]="status6 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Address 2
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status6? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
sdfgsd
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status7=!status7" [ngClass]="status7 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                City
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status7 ? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
sdfgsdfg
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button  (click)="status8=!status8" [ngClass]="status8 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              State
            </button>
          </h2>
          <div id="collapseTwo" [ngClass]="status8 ? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              dfsgsdfg
      </div>
      </div>
      </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button  (click)="status9=!status9" [ngClass]="status9 ? '' :'collapsed'" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
      Zip
      </button>
    </h2>
    <div id="collapseTwo" [ngClass]="status9 ? 'show' :''" class="accordion-collapse collapse " aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
dsfgsdf
      </div>
    </div>
  </div>








      </div>

    </div>
  </div>


</div>
