<!-- is-invalid -->






<div class="container  bt-5  mt-6 ">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6 shadow p-3 mb-5 bg-body rounded">

    <form class="row g-3" [formGroup]="porfileForm" (ngSubmit)="onSubmit()">



                  <div formGroupName="person" class="col-md-6">
                    <label *ngIf="First_name?.isStopped" for="inputEmail413" class="form-label  is-invalid ">First name</label>
                    <input  type="text" class="form-control" placeholder="First name" aria-label="First name" id="inputEmail413">
                  </div>
                  <div formGroupName="person"  class="col-md-6">
                  <label for="inputEmail412" class="form-label">Last name</label>
                    <input formControlName="Last_name"  type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="inputEmail412">
                  </div>





                <div formGroupName="user" class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input formControlName="Email" type="email" class="form-control" id="inputEmail4">
                </div>
                <div formGroupName="user" class="col-md-6">
                  <label for="inputPassword4" class="form-label">Password</label>
                  <input formControlName="Password" type="password" class="form-control" id="inputPassword4">
                </div>




                <div formGroupName="address"  class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input formControlName="Address" type="text" class="form-control" id="inputAddress"
                    placeholder="1234 Main street YK UK NEW YORK">
                </div>
                <div formGroupName="address" class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input formControlName="Address_2" type="text" class="form-control" id="inputAddress2"
                    placeholder="Apartment, studio, or floor">
                </div>
                <div formGroupName="address"  class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input formControlName="City" type="text" class="form-control" id="inputCity">
                </div>
                <div formGroupName="address"  class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select formControlName="State" id="inputState" class="form-select">
                    <option selected value="0"></option>
                    <option value="1">tanger</option>
                    <option value="2">titwan</option>
                    <option value="3">husima</option>
                  </select>
                </div>
                <div formGroupName="address"  class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input formControlName="Zip" type="text" class="form-control" id="inputZip">
                </div>



                <div class="col-12">
                  <div class="form-check">
                    <input formControlName="Check_me_out" class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>

          </form>
    </div>
    <div class="col">

    </div>
  </div>


</div>
