<!-- <section [ngClass]="{'cante': true}">
        <div class="position-absolute mt-5 " [ngClass]="{'canter': true}">
            <form #form="ngForm" (ngSubmit)="loginForm(form);">
                 <label for="select" class="form-label" > where should i put this </label>
                <select [(ngModel)]="types" name="types" id='select'   class="form-select  mb-3" aria-label="Default select example" required>
                  <option value="1">on the lest</option>
                  <option value="2"> to do </option>
                  <option value="3">on progress</option>
                  <option value="4">done it</option>
                </select>
                <div class="form-floating mb-3">
                  <textarea  [(ngModel)]="Comments" name="Comments"   class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
                  <label for="floatingTextarea2">Comments</label>
                </div>
                 <button type="button" (click)="reset(form)" class="btn   mb-3 btn-link">reset</button> <br>
                <button type="submit" [disabled]="!form.value" class="btn mb-3 btn-primary">Submit</button><br>
                <button type="button" (click)="settt(form)" class="btn   mb-3 btn-link">set</button>
            </form>
      </div>
</section> -->




<form [formGroup]="addform" #forma >

    <input type="text" formControlName="addname" class="   mb-3 ">
       <input type="text" formControlName="addetype" class="   mb-3 ">

    <textarea formControlName="adddescription"  class="   mb-3 "></textarea>
    <button (click)="addADDtype();" [disabled]="!addform.valid">add a new one</button>

</form>
